#signup-form-div{
    /* border: 1px solid black; */
    display: flex;
    width:100%;
    justify-content:right;
    gap:2vw;
    /* color: aquamarine; */

    }
    #signup-form-div>div>p{
        color:aqua;
    }
    #signup-form-div a{
        text-decoration:none;
        color:black;
        font-size: 1.6vw;
    
    }
    #signup{
        padding-right: 1.3vw;
    }

    form{
        /* border: 1px solid green; */
         width:30%;
         margin: auto;
         margin-top: 4vw;
         padding-left: 12vw;
         height: 300px;
         /* color:aliceblue; */
        
         outline: none;
    }
    #para{
        text-align: center;
        /* color:red; */
        font-size: 1.7vw;
        /* margin: auto; */
    }
    input{
        display: block;
        margin-top: 1vw;
        /* text-align: center; */
        font-size: 1.1vw;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 10px;
        font-style: italic;
    }
    form>p{
        margin-left:-250px;
        font-family: cursive;
        color:green;
    }
    #Submit{
        
       
       
       margin-top: 10px;
       margin-left: 60px;
       border-radius: 10px;
       border: none;
       font-size: 15px;

     } 